@CHARSET "UTF-8";

body {
    font-family: sans-serif;
    font-size: 12px;
}

#wrapper {
    overflow:hidden;
}

#header, #footer, #content {
    clear: both;
}

div#navigation {
    float: left;
    width: 190px;
}

div#body {
    float: left;
    width: 80%;	
}

div#navigation {
    margin-right: 40px;
}